{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    ["babel-plugin-transform-vite-meta-env", {
      "env": {
        "VITE_APP_VERSION": "1.0.0",
        "VITE_LOCAL_STORAGE_KEY": "flowchart_g_data_test",
        "VITE_BASE_PATH": "",
        "MODE": "test"
      }
    }]
  ]
} 