{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions", "not dead", "> 0.2%"]
      }
    }],
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-transform-vite-meta-env"]
    }
  }
}